input, textarea {
    background-color: var(--input-base);
    color: var(--input-placeholder);
    font: var(--text-md-opensans);

    appearance: none;
    border: 1px solid var(--input-stroke);
    border-radius: .8rem;

    outline-width: 2px;
    padding: 1.3rem 1.6rem;
    width: 100%;

    &:hover, &:focus-within {
        outline: 2px solid var(--brand-light);
    }

    &:invalid {
        outline: 2px solid var(--danger);
    }
}

label {
    font: var(--text-sm-opensans);
    display: inline-block;
    margin-bottom: 1.2rem;
}

.container-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
}


input[type="date"] {
    text-transform: uppercase;

    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }
}