input, textarea {
    background-color: var(--input-base);
    color: var(--input-placeholder);
    font: var(--text-md-opensans);

    appearance: none;
    border: 1px solid var(--input-stroke);
    border-radius: .8rem;

    outline-width: 2px;
    padding: 1.3rem 1.6rem;
    width: 100%;

    
    &:hover, &:focus-within {
        outline: 2px solid var(--brand-light);
    }

    &:invalid {
        outline: 2px solid var(--danger);
    }

    &:invalid {
        outline: 2px solid var(--danger);
    }

    & + .error, div:has(&) + .error {
        display: inline-block;
        color: var(--danger);
        font: var(--text-xs-opensans);
        margin-top: 1rem;

        svg path {
            stroke: var(--danger);
        }
    }

    &:required + .error,
    div:has(&:required) + .error {
        display: flex;
        align-items: center;
        gap: .8rem;
    }

    &:not(:focus):valid + .error,
    div:has(&:not(:focus):valid) + .error {
        display: none;
    }
}

label {
    font: var(--text-sm-opensans);
    display: inline-block;
    margin-bottom: 1.2rem;
}

.container-inputs {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
}


input[type="datetime-local"] {
    text-transform: uppercase;

    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }
}

#cover-style-photo {
    justify-content: space-between;

    .container-button-toggle {
        & > div {
            display: flex;
            align-items: center;
            gap: 1.2rem;
            
            .button-dark-mode {
                position: relative;
        
                input {
                    all: unset;
                    position: absolute;
                    inset: 0;
                    cursor: pointer;
                }
        
                &:not(:checked) {
                    background: url(/assets/icons/btn-off.svg) no-repeat center/contain;
                    width: 6.4rem;
                    height: 3.2rem;
                }
        
                &:has(:checked) {
                    background: url(/assets/icons/btn-on.svg) no-repeat center/contain;
                }
            }
        }
    }

    .dropzone {
        label {
            margin-bottom: 1.6rem;
        }

        & > div {
            position: relative;
            cursor: pointer;

            .button {
                background-color: var(--shape-button);
                color: var(--text-heading);
                padding: 1.05rem 1.2rem;
                border-radius: .8rem;
                display: flex;
                align-items: center;
                gap: .8rem;
                font: var(--text-sm-opensans);
                position: absolute;

                svg path {
                    stroke: var(--brand-light);
                }

            }

            input {
                all: unset;

                &::file-selector-button {
                    opacity: 0;
                    width: 12rem;
                }
            }

            &:hover, &:focus-within {
                .button {
                    background-color: var(--shape-hover);
                }
            }
        }
    }
}

