#app {
    height: 100vh;
    grid-template-columns: 32% 1fr;
    gap: 2rem;
    padding: 2rem;
}

aside {
    background: url(/assets/images/cake-image.png) no-repeat center/cover;
    border-radius: 1.2rem;
    padding: 3.2rem;
    overflow: hidden;

    .aside-container {
        img {
            width: 4.8rem;
        }

        h1 {
            font: var(--logo-leckerli);
            color: #FF598B;
            margin-block: 1.6rem .4rem;
        }

        p {
            color: var(--text-heading);
        }
    }
}

main {
    background-color: var(--shape-body);
    padding-block: 8rem;
    border-radius: 1.2rem;
    overflow: auto;
    
    .main-container {
        max-width: 56rem;
        margin-inline: auto;
    }
}